.btn {
  padding: 0.8rem 1.6rem;
  font-size: var(--fs-xl);
  letter-spacing: 1px;
  border-radius: 5px;
}

.btn-primary {
  color: var(--white);
  border-color: var(--brand-1);
  background-color: var(--brand-1);
}