.main-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2.4rem;
  margin-bottom: 1.6rem;
  box-shadow: 0px 0px 10px rgba(255,255,255,0.1);
}

.main-header__title {
  color: var(--mono-1);
  display: block;
}

.main-header__link:not(:last-child) {
  margin-right: 1.6rem;
}

.main-header__links a {
  color: var(--mono-1);
  font-weight: var(--fw-regular);
  letter-spacing: 1px;
}

.main-header__logo {
  margin: 0;
  width: 10rem;
  height: 8.5rem;
  background: url('../images/logo.svg') no-repeat center center;
}