.destination-container {
  display: grid;
  margin-bottom: 1.6rem;
}

.finding-falcone {
  padding: 1.6rem;
}

.finding-falcone__title {
  margin: 0 0 2.4rem 0;
  font-size: var(--fs-l);
  font-weight: var(--fw-medium);
  text-align: left;
  line-height: var(--lh-2);
  letter-spacing: 0.5px;
  color: var(--mono-1);
}
