.destination-container {
  display: grid;
  margin-bottom: 2.4rem;
  grid-row-gap: 1.6rem;
}

.finding-falcone {
  padding: 1.6rem;
  background-color: var(--white);
}

.finding-falcone__title {
  text-align: center;
}
