.time-container {
  display: inline-flex;
  margin-right: 0.8rem;
  border: 2px solid var(--mono-1);
  animation: clockRotation 1s linear infinite;
  justify-content: center;
  align-items: center;
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
}

.time-container time {
  font-size: var(--fs-m);
  font-weight: var(--fw-medium);
  display: inline-flex;
}

@keyframes clockRotation {
  0% {
    transition: rotate(0deg);
    border-color: var(--accent-1);
  }
  25% {
    transition: rotate(90deg);
    border-color: green;
  }
  50% {
    transition: rotate(180deg);
    border-color: yellow;
  }
  75% {
    transition: rotate(270deg);
    border-color: blue;
  }
  100% {
    transition: rotate(360deg);
    border-color: blueviolet;
  }
}
