/* Colors */
:root {
  /* monochromatic colors */
  --mono-1: #d5d3d3;
  --mono-2: #c5c6c6;
  --mono-3:	#b2b3b3;
  --mono-4: #9fa0a1;
  --mono-5: #0e1111;

  --white: #ffffff;
  --black: #000000;
}

/* Typography */


html {
  font-size: 62.5%;
}

body {
  background-color: var(--mono-5);
}

a {
  text-decoration: none;
}

.container {
  max-width: 120rem;
  margin: auto;
  display: grid;
  grid-template-columns: 1fr 32rem;
}
