/* Colors */
:root {
  --brand-1: #00576f;
  /* monochromatic colors */
  --mono-1: #fafafa; 
  --mono-2: #c5c6c6;
  --mono-3:	#b2b3b3;
  --mono-4: #9fa0a1;
  --mono-5: #0e1111;

  --white: #ffffff;
  --black: #000000;

  --accent-1: #ff1420;
}

/* Typography */
:root {
  /* Font sizes */
  --fs-xs: 1.2rem;
  --fs-s: 1.4rem;
  --fs-m: 1.6rem;
  --fs-l: 1.8rem;
  --fs-xl: 2.0rem;

  /* Font weights */
  --fw-thin: 100;
  --fw-light: 300;
  --fw-regular: 400;
  --fw-medium: 500;
  --fw-bold: 700;
  --fw-black: 900;

  /* Line heights */
  --lh-0: 1.0;
  --lh-1: 1.1;
  --lh-2: 1.2;
  --lh-3: 1.3;
  --lh-4: 1.5;
  --lh-5: 1.5;
}

html {
  font-size: 62.5%;
}

body {
  font-family: 'Noto Sans JP', sans-serif;
  font-size: var(--fs-m);
  font-weight: var(--fw-light);
  background-color: var(--mono-5);
  color: var(--mono-1);
  margin: 0;
}

a {
  text-decoration: none;
}

.container {
  max-width: 120rem;
  margin: auto;
  display: grid;
  grid-template-columns: 1fr 32rem;
  grid-gap: 1.6rem;
}
